# just as reference (e.g. autocomplete)
# [submodule "_strudel"]
# 	path = _strudel
# 	url = https://codeberg.org/uzu/strudel.git
# [submodule "_hydra"]
# 	path = _hydra
# 	url = https://github.com/hydra-synth/hydra
